<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Attendance_System.Properties.Settings.AttendanceConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\DeveloperOne\Documents\Visual Studio 2010\Projects\Attendance System\Attendance System\HeCaresAttendance.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>